{% extends 'base.html' %}

{% block title %}
  Books
{% endblock %}

{% block content %}
  <h2>Books</h2>
  {% if books %}
    <ul>
      {% for book in books %}
        <li>
          <a href="{% url 'books:one' book.id %}">{{ book.name }}</a>
          {% if book.author %}
            by {{ book.author.name }}
          {% else %}
            <em>Unknown author</em>
          {% endif %}
          {% if book.release_date %} ({{ book.release_date }}){% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No books yet.</p>
  {% endif %}
{% endblock %}
